
#rootGrid {
    background-image: url("../../assets/img/wallpapers/wall7.jpg");
    background-size: cover;
    height: 100vh;
    align-items: center;
    padding: 2em;
  
    .transparent {
      background-color: rgba(white, 0.5);
    }
  }